* {
    margin: 0%;
    background-color: #6F5B3E;
}

.bg{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100;
}
.header{
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#logo{
    height: 150px;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    font-family: 'Bebas Neue', sans-serif;
    align-content: flex-end;
}
#logo > h1 {
    align-items: center;
}
.pageButtons{
    height: 50px;
    width:80%;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: xx-large;
    color: inherit;

}
 .pageButtons > a {
   
    color: black;
    padding: 20px 30px;
}
.pageButtons a:hover {
    color: #d2d278;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery figure {
    margin: 60px;
}

.gallery figure img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 55%;

}

.gallery figcaption {
    font-size: 18px;
    margin-top: 10px;
    text-align: center ;
}

button {
    color: rgb(179, 124, 124);
}
